:root {
    --dark-blue: #1f2937;
    --mid-blue: #3882f6;
    --white: #f9faf8;
    --off-white: #e5e7eb;
    --black: #1f2937;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    box-sizing: inherit;
    margin: 0;
}

/* NAVIGATION */
.nav-container {
    display: flex;
    background-color: var(--dark-blue);
    padding: 24px;
    flex: 1;
    justify-content: center;
}

.header-logo {
    font-size: 24px;
    color: var(--white);
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 16px;
}

.nav-list li a {
    color: var(--off-white);
    text-decoration: none;
}

/* SECTIONS */

.hero-image {
    height: 240px;
    width: auto;
    background-color: darkgray;
}

.section {
    padding-top: 48px;
    padding-bottom: 128px;
    display: flex;
    justify-content: center;
}

.section-container, .section-container-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    flex: 1;
    max-width: 968px;
}

.section-container-column {
    flex-direction: column;
}

.section-container div {
    flex: 1;
}

.blue-bg {
    padding-top: 80px;
    background-color: var(--dark-blue);
}

.grey-bg {
    padding-top: 120px;
    background-color: var(--off-white);
}

/* COMPONENTS */

h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--white);
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--dark-blue)
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    color: var(--dark-blue);
    max-width: 42ch;
}

figcaption {
    text-align: right;
    font-weight: 700;
    font-size: 24px;
}

.subhead {
    color: var(--off-white);
    margin-top: 12px;
    margin-bottom: 12px;
}

.btn-primary, .btn-inverted {
    padding: 8px 32px;
    border-radius: 8px;
}

.btn-primary {
    color: var(--white);
    background-color: var(--mid-blue);
    border: none;
}

.btn-inverted {
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--white);
}

.gallery-container {
    max-width: 172px;
}

.gallery-image {
    width: 172px;
    height: 172px;
    border: 4px solid var(--mid-blue);
    border-radius: 16px;
}

.gallery-image-caption {
    color: var(--black);
    text-align: center;
    margin-top: 8px;
}

.cta-card {
    background-color: var(--mid-blue);
    border-radius: 12px;
    color: var(--white);
    display: flex;
    padding: 48px 96px;
    flex: 1;
}

.cta-card .cta-text-wrapper {
    flex: 3;
}

.cta-card .cta-button-wrapper {
    flex: 1;
}